.wrapper {
    display: flex;
    background: #141414;
    min-height: 100vh;

    & .img {
        width: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    & .main {
        width: 50%;
        padding: 32px 50px;
        position: relative;

        & .btns {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .back {
                width: 53px;
                height: 53px;
                background: transparent;
                border-color: #fff;
                transition: .4s;
                font-size: 25px;

                &:hover {
                    border-color: #ff0f82;
                }
            }
        }

        & .btn {
            position: absolute;
            top: 32px;
            right: 40px;
            background: #FF0F82;
            border-color: #FF0F82;
            color: #ffffff;
            font-size: 16px;

            &:hover, 
            &:active,
            &:focus {
                background-color: #FF0F82;
                border-color: #FF0F82;
                color: #ffffff;
            }
        }
    }
}